### OS 별 ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Java 관련 ###
*.class
*.log
*.jar
*.war
*.iml

### 로그 파일 ###
*.log

### 빌드 ###
.gradle/
.gradle-cache/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### 테스트 리포트 ###
test-output/
target/
reports/

### IDE 설정 ###
# IntelliJ IDEA
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.ipr
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### 환경 설정 파일 ###
.env
application-*.yml
application-*.properties
*.key
*.pem
*.crt
*.der

### Docker 관련 ###
**/.docker/
docker-compose.override.yml
docker-compose.local.yml

### Swagger ###
swagger-ui/
openapi.json
openapi.yaml

/gradle